.ReadCommunityHouses-house {
  border: 1px solid #ccc; /* Opcional: añade un borde para visualización */
  padding: 10px; /* Opcional: añade relleno interno */
}

.ReadCommunityHouses-house {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.communityHouses-container {
  display: inline-block;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.ReadCommunityHouses-house p {
  margin: 5px 0;
}

.ReadCommunityHouses-house button {
  background-color: #256ab4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.ReadCommunityHouses-house button:hover {
  background-color: #0056b3;
}

.house-form-container {
  margin-bottom: 20px;
}

.SalesForm {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.SalesForm h2 {
  color: #333;
  font-size: 20px;
  text-align: center;
}

.SalesForm label {
  font-weight: bold;
}

.SalesForm input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 50vw;
}

.SalesForm input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.SalesForm input[type="submit"]:hover {
  background-color: #0056b3;
}