.confirmation-row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

aside{
    flex: 200px;
    padding: 20px;
    
}

section{
    flex: 50%;
    padding: 20px;
}

.confirmation-message{
    padding: 40px;
}