.Founder-image{
    display: flex;
    width: 80vw;
    height: 333px;
    object-fit: fill;
    object-position: center;
    border-radius: 1%;

}

.Founder-image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.founder-container h1{
    text-align: center;
    font-weight: 600;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.founder-container h2{
    text-align: center;
    font-weight: 400;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.founder-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Founder-image-container p{
    text-align: center;
    width: 60vw;
    padding: 27px;
}