.house-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.house-item-img-wrapper>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}