/* Estilo base para el footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-start;
  background-color: #b95858;
}

/* Estilo para los íconos de redes sociales */
.footer-icons {
  font-size: 24px;
  margin-right: 10px;
}

/* Estilo para los enlaces de privacidad y condiciones */
.footer-container p {
  font-size: 14px;
  margin-top: 10px;
}
/* Media query para pantallas pequeñas (máximo 768px) */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  /* Ajusta el tamaño del mapa */
  .leaflet-container {
    height: 200px;
    width: 100%; /* Ocupa todo el ancho disponible */
  }
}