.actuality-container {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 20px;
  }
  
  .actuality-images {
    display: flex;
    flex-direction: column; /* Alinea las imágenes y el texto verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
  }
  
  .actuality-images img {
    max-width: 100%; /* Asegura que las imágenes no sobrepasen el ancho del contenedor */
    margin-bottom: 10px; /* Espacio entre las imágenes */
  }
  